<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ng4geo-autocomplete
        (componentCallback)="autoCompleteCallback1($event)"
      ></ng4geo-autocomplete>
    </div>
  </div>

  <div class="row mt-2">
    <div [ng2-loading]="showChartLoader" class="col-lg-12">
      <app-chart *ngIf="showChart" [single]="data"></app-chart>
    </div>
  </div>
  <div [ng2-loading]="showTableLoader" class="row mt-2">
    <div
      *ngFor="let item of tableData | slice: 0:8; let i = index"
      class="weather-single-box {{ showLabel(i) }}"
    >
      <div class="date">
        {{ utcToDate(item.utcTime) }}
      </div>
      <div class="weather-icon mt-1">
        <img src="{{ item.iconLink }}" alt="" srcset="" />
      </div>
      <div class="weather-details">
        <h6 class="weather-ratio-wrapper">
          <span class="weather-ratio red">
            {{ item.highTemperature }}<span>&#8451;</span></span
          >
          <span class="weather-ratio green">
            {{ item.lowTemperature | number: ".1-2" }}
          </span>
        </h6>
        <p class="bordered-para">
          {{ item.skyDescription }}
        </p>
        <h6>Humidity:{{ item.humidity }}, {{ item.barometerPressure }}hPa</h6>
      </div>
    </div>
  </div>
</div>
