/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
.weather-single-box {
    text-align: center;
    border: 1px dashed #ddd;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 0 5px 10px;
    width: 19%;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.weather-single-box:hover {
    box-shadow: 0px 4px 10px #ddd;
}

.date {
    position: relative;
}

.date::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -2px;
    background: #333;
    width: 50px;
    height: 1px;
    margin-left: -25px;
}

.weather-ratio {
    padding: 4px 8px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
}

.red {
    background: #f96d6d;
}

.green {
    background: #48c38c;
}

.bordered-para {
    margin: 0 0 10px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 2px 0;
}

.weather-details h6 {
    font-size: 12px;
}
